[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
bs4 = "*"
matplotlib = "*"
nltk = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
smart_open = "*"
tqdm = "*"

[dev-packages]
fasttext = "*"
#gensim = "*"
#glove_python = "*"
#keras = "*"
#spacy = "*"
#torch = "*"
#torchvision = "*"
