[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
bs4 = "*"
nltk = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
smart_open = "*"
scikit-learn = "*"
scipy = "*"


[dev-packages]

